body{
    background-color: azure;
    background-image: url("");
}
hr{
    border-style: dotted none none; color: green;
    background-color: none;
    border-width: 5px;
    width: 10%;
    height: 1px;
}
h1:not(.myname) h1:not(#home-name), h2, h3{
    color: green;
    text-decoration: underline green;
}
img.myphoto{
    border-radius: 100%;
}
table.workex, table.education, table.skills, table.tools{
    border: 1px solid black;
    border-collapse: collapse;
}
table.workex:hover,table.education:hover, table.skills:hover, table.tools:hover{
    background-color: lightgreen;
    color: black;
}
td{
    padding: 20px;
}
td:not(.no-style){
    
    border: 1px solid black;
    
    border-collapse: collapse;
}
h1, h2, h3{
    color: green;
}
.Submit{
    width: 10em;
    height: 5ex;
    background-color: rgb(240, 237, 218);
    border: 2px solid rgb(206, 188, 188);
    border-radius: 50%;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.Submit:hover{
    background-color: lightgreen;
}

.dark-mode {
    background-color: rgb(41, 40, 40);
    color: white;
  }
